<ion-view view-title="Fale Conosco">
  <ion-content class="faleConosco">
    <small class="infoContato">
      Tem alguma dúvida? Quer fazer críticas ou sugestões? Este é o canal para você se comunicar com a gente. Preencha seus dados nos campos ao lado e responderemos o mais rápido possível.
    </small>
    <form ng-submit="doContact()">
      <div class="list card">
        <label class="item item-input">
          <span class="input-label">
            <i class="ion-person"></i>
            <small>Nome</small>
          </span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">
            <i class="ion-ios-email"></i>
            <small>Email</small>
          </span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">
            <i class="ion-ios-telephone"></i>
            <small>Telefone</small>
          </span>
          <input type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">
            <i class="ion-iphone"></i>
            <small>Celular</small>
          </span>
          <input type="text">
        </label>

        <label class="item item-textarea">
          <span class="input-label">
            <small>Assunto</small>
          </span>
          <textarea rows="" cols="" placeholder="Descreva aqui sua mensagem"></textarea>
        </label>

        <label class="item send">
          <button class="button button-block button-positive button-send" type="submit">ENVIAR</button>
        </label>


      </div>
    </form>

    <div class="boxItem boxInformacoes card">
      <h4 class="boxItem-titulo">
        Mais <strong>informações</strong>
      </h4>
      <div class="item">
        <i class="ion-android-call"></i>
        <span>86 3232-9802</span>
      </div>
      <div class="item">
        <a href="#" target="_blank">
          <i class="ion-social-facebook"></i>
          <span>Carzapi</span>
        </a>
      </div>
      <div class="item">
        <a href="#" target="_blank">
          <i class="ion-social-instagram-outline"></i>
          <span>@carzapi</span>
        </a>
      </div>
      <div class="item">
        <a href="#" target="_blank">
          <i class="ion-social-youtube"></i>
          <span>@carzapi</span>
        </a>
      </div>
      <div class="item">
        <i class="ion-social-whatsapp"></i>
        <span>86 9-9911-5555</span>
      </div>
      <div class="item">
        <a href="#" target="_blank">
          <i class="ion-ios-email"></i>
          <span>contato@carzap.com.br</span>
        </a>
      </div>
    </div>

    <div class="boxItem card">
      <h4 class="boxItem-titulo">
        Como <strong>chegar?</strong>
      </h4>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7948.285049408717!2d-42.76516225396546!3d-5.080636953034634!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd4ad9dfde7a63fe!2sAuto+Shop+Teresina!5e0!3m2!1spt-BR!2sbr!4v1431992731654" width="100%" height="240" frameborder="0" style="border:0"></iframe>
    </div>

  </ion-content>
</ion-view>
