<ion-view view-title="Quem Somos">
  <ion-content class="quemSomos">
    <div class="padding">
      <div class="card" style="margin-top:0;">
        <ul>
          <li>
            <div class="text-center">
              <img src="img/canada.png" alt="">
            </div>
          </li>
          <li>
            <div class="text-center">
              <img src="img/alemanha.png" alt="">
            </div>
          </li>
          <li>
            <div class="text-center">
              <img src="img/viaparis.png" alt="">
            </div>
          </li>
          <li>
            <div class="text-center">
              <img src="img/japan.png" alt="">
            </div>
          </li>
          <li>
            <div class="text-center">
              <img src="img/audicenter.png" alt="">
            </div>
          </li>
        </ul>

        <p class="quemSomos-descricao">

          O maior grupo de concessionárias do Piauí, levando até você o que há de melhor no mercado automotivo com qualidade e credibilidade com mais de 17 anos de existência. Nossas concessionárias fazem história desde 1998, começando seus primeiros investimentos com a General Motors do Brasil como Concessionário Autorizado Chevrolet no Estado do Piauí.

          Com práticas inovadoras de gestão, ações de marketing bem definidas e foco na qualidade e satisfação dos nossos clientes, obtivemos excelentes resultados e o crescimento auto-sustentado dos nossos negócios. Atualmente, nosso grupo representa as marcas: Chevrolet, Renault, Nissan, Volkswagen e Audi com atuação nos Estados do Piauí e no leste do Maranhão, tendo alcançado em 2014 mais de 17.000 veículos vendidos.

          O CARZAP surgiu como o principal ponto de encontro entre quem pretende vender e quem deseja comprar uma veículo seminovo ou usado. O nosso objetivo passa por prestar um serviço inovador, com o intuito de facilitar o processo de venda ou de compra, tornando-o mais rápido, transparente e sem riscos.
        </p>
      </div>
      <div class="card">
        <h3 class="quemSomos-titulo">
          Nossa <strong>missão</strong>
        </h3>
        <p class="quemSomos-descricao">
          Ser uma empresa inovadora, que oferece oportunidades e investe na valorização, qualificação, motivação e comprometimento das equipes; gerando resultados e assumindo responsabilidades sociais.
        </p>
      </div>
      <div class="card">
        <h3 class="quemSomos-titulo">
          Nossa <strong>visão</strong>
        </h3>
        <p class="quemSomos-descricao">
          Queremos ser reconhecida como a melhor concessionária do Brasil em modelo de gestão, resultados, organização e ambiente de trabalho.
        </p>
      </div>
      <div class="card">
        <h3 class="quemSomos-titulo">
          Nossos <strong>valores</strong>
        </h3>
        <p class="quemSomos-descricao">
          Nossos valores correspondem àquilo que acreditamos ser a base para o nosso sucesso, guiam as nossas ações e comportamento e influenciam a maneira como atendemos nossos clientes e nos relacionamos com a sociedade, entre eles estão
        </p>
      </div>

    </div>
  </ion-content>
</ion-view>
